.container{
    width: 40%;
    display: flex;
}

.one{
    height: 50px;
    width: calc(40% / 3);
    background-color: #dea09a;
    display: inline-block;
}
.two
{
    height: 50px;
    width: calc(40% / 3);
    background-color: #dea09a;
    display: inline-block;
}
.three {
    height: 50px;
    width: calc(40% / 3);
    background-color: #dea09a;
    display: inline-block;
}
