/* .container{
    padding: 10px;
    position: relative;
  }
  
  .head{
    height: 70px;
    width: 90%;
    right: 0;
    position: absolute;
    background-color: #a29bfe;
    display:inline-block;
  
  }
  
  .side-nav{
    height: 500px;;
    width: 10%;
    background-color: #6c5ce7;
    display: inline-block;
  }
  
  .main{
    position: absolute;
    display: inline-block;
    width: 100%;
  }
  
  .inner-content{
    position: absolute;
    top: 70px;
    height: 430px;
    width: 90%;
    background-color:red;
  } */
  
  #container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* grid-template-areas: 
    "h h h h h h" "f f m s s s" "f f m s s s" "f f m s s s" "f f m s s s"; */
    /* grid-template-areas:
    "s s s s s s" "f f f m m h" "f f f m m h" "f f f m m h" "f f f m m h"; */
    /* grid-template-areas:
    "h h f f s s" "h h f f s s" "h h f f s s" "h h m m s s" "h h m m s s"; */

    grid-template-areas:
    "h h f f s s" "h h f f s s" "h h . . s s" "h h m m s s" "h h m m s s";

    grid-gap: 10px;
}

.head{
    grid-area: h;
    background-color: orange;
}

.side-nav{
    grid-area: s;
    background-color: red;
}

.main{
    grid-area: m;
    background-color: aquamarine;
}

.foot{
    grid-area: f;
    background-color: gray;
}